---
import { Image } from "@astrojs/image/components";
import { getCollection } from "astro:content";
import HorizontalCard from "../components/HorizontalCard.astro";
import BaseLayout from "../layouts/BaseLayout.astro";

const posts = (await getCollection("blog")).sort(
  (a, b) => b.data.pubDate.valueOf() - a.data.pubDate.valueOf()
);

const last_posts = posts.slice(0, 3);
---

<BaseLayout>
  <div class="flex flex-auto flex-col gap-10 p-2 lg:p-1">
    <!-- Hero Panel -->
    <div
      class="gradient -skew-y-1 skew-x-1 rounded-3xl p-3 shadow-2xl shadow-primary/40 dark:shadow-primary/10"
    >
      <div
        class="flex max-h-[38rem] flex-auto select-none flex-col overflow-hidden rounded-3xl bg-base-200 bg-no-repeat p-12 shadow-2xl transition-all lg:flex-row"
      >
        <div class="order-2 flex flex-auto flex-col lg:order-1">
          <div class="mx-auto my-auto w-fit lg:ml-auto lg:w-96">
            <h1
              class="mt-2 whitespace-nowrap text-center text-3xl font-bold dark:text-white lg:mt-0 lg:text-justify lg:text-7xl"
            >
              Yoannis <br class="" /> Sánchez <br class="" />
              Soto
            </h1>

            <p
              class="mt-4 text-center text-xl text-gray-400 dark:text-gray-200 lg:text-justify lg:text-xl"
            >
              Frontend and Software Developer
            </p>
          </div>
        </div>

        <div class="order-1 flex flex-auto flex-col lg:order-2">
          <div
            class="mx-auto my-auto rounded-full bg-white p-6 shadow-2xl lg:p-8"
          >
            <Image
              class="h-full w-full rounded-full shadow-xl shadow-primary"
              aspectRatio="1:1"
              format="webp"
              width={300}
              height={300}
              src="/profile2.png"
              alt="Profile image"
            />
          </div>
        </div>
      </div>
    </div>

    <!-- Latest Projects -->
    <div class="flex flex-auto flex-col gap-8 lg:flex-col">
      <div class="flex flex-col gap-2">
        <div class="mx-auto">
          <div
            class="mx-auto mb-6 mt-6 flex w-fit gap-2 font-bold text-gray-500"
          >
            <svg
              xmlns="http://www.w3.org/2000/svg"
              class="icon icon-tabler icon-tabler-code-circle my-auto"
              width="24"
              height="24"
              viewBox="0 0 24 24"
              stroke-width="2"
              stroke="currentColor"
              fill="none"
              stroke-linecap="round"
              stroke-linejoin="round"
            >
              <path stroke="none" d="M0 0h24v24H0z" fill="none"></path>
              <path d="M10 14l-2 -2l2 -2"></path>
              <path d="M14 10l2 2l-2 2"></path>
              <path d="M12 12m-9 0a9 9 0 1 0 18 0a9 9 0 1 0 -18 0"></path>
            </svg>
            <p class="text-xl">Mis últimos proyectos</p>
          </div>

          <HorizontalCard
            title="Demo Project 1"
            img="/post_img.webp"
            desc="Lorem ipsum dolor sit amet, consectetur adipiscing elit, sed do eiusmod tempor incididunt ut labore et dolore magna aliqua."
            url="#"
            badge="NEW"
          />

          <div class="mx-auto my-2 h-1 w-1 rounded-full bg-gray-600/20 p-1">
          </div>
          <HorizontalCard
            title="Demo Project 2"
            img="/post_img.webp"
            desc="Lorem ipsum dolor sit amet, consectetur adipiscing elit, sed do eiusmod tempor incididunt ut labore et dolore magna aliqua."
            url="#"
          />

          <div class="mx-auto my-2 h-1 w-1 rounded-full bg-gray-600/20 p-1">
          </div>

          <HorizontalCard
            title="Demo Project 3"
            img="/post_img.webp"
            desc="Lorem ipsum dolor sit amet, consectetur adipiscing elit, sed do eiusmod tempor incididunt ut labore et dolore magna aliqua."
            url="#"
            badge="FOSS"
          />
        </div>
      </div>
    </div>
  </div>
</BaseLayout>
