<div
  class="sticky top-0 z-30 flex h-16 w-full justify-center border-b-2 border-base-200 bg-[#0d0c0d] bg-opacity-90 text-base-content shadow-sm backdrop-blur-xl transition-all duration-100 lg:hidden"
>
  <div class="navbar">
    <div class="navbar-start">
      <label for="my-drawer" class="btn btn-square btn-ghost">
        <div class="scale-x-[-1]">
          <svg
            xmlns="http://www.w3.org/2000/svg"
            class="icon icon-tabler icon-tabler-menu-deep text-neutral-300"
            width="24"
            height="24"
            viewBox="0 0 24 24"
            stroke-width="1.5"
            stroke="currentColor"
            fill="none"
            stroke-linecap="round"
            stroke-linejoin="round"
            ><path stroke="none" d="M0 0h24v24H0z" fill="none"></path><path
              d="M4 6h16"></path><path d="M7 12h13"></path><path d="M10 18h10"
            ></path></svg
          >
        </div>
      </label>
    </div>
    <div class="navbar-center">
      <p
        class="poppins-bold btn btn-ghost text-xl normal-case text-neutral-300"
      >
        {"Y O S S 🚀"}
      </p>
    </div>
    <div class="navbar-end"></div>
  </div>
</div>
