<div
  class="sticky top-0 z-30 flex h-16 w-full justify-center bg-base-100 bg-opacity-90 text-base-content shadow-sm backdrop-blur transition-all duration-100 lg:hidden"
>
  <div class="navbar">
    <div class="navbar-start">
      <label for="my-drawer" class="btn-ghost btn-square btn">
        <svg
          xmlns="http://www.w3.org/2000/svg"
          fill="none"
          viewBox="0 0 24 24"
          class="inline-block h-5 w-5 stroke-current dark:stroke-gray-200"
          ><path
            stroke-linecap="round"
            stroke-linejoin="round"
            stroke-width="2"
            d="M4 6h16M4 12h16M4 18h16"></path>
        </svg>
      </label>
    </div>
    <div class="navbar-center">
      <p class="btn-ghost btn text-xl normal-case dark:text-gray-200">
        Y O S S
      </p>
    </div>
    <div class="navbar-end"></div>
  </div>
</div>
