---
const { id, href, label } = Astro.props;
---

<a
  rel="prefetch"
  class="side-item flex gap-2 w-10 h-10 md:justify-center rounded-2xl p-2 transition-all fill-neutral-300 hover:bg-neutral lg:rounded-xl lg:hover:scale-105"
  id={id}
  href={href}
>
  <slot />
  <p class="lg:hidden">{label}</p>
</a>
