---
import { Image } from "astro:assets";
import SideItem from "./SideItem.astro";
---

<script>
  import lottie from "lottie-web";
  import { defineElement } from "@lordicon/element";

  // define "lord-icon" custom element with default properties
  defineElement(lottie.loadAnimation);
</script>

<div
  class="drawer-side target:bg-inherit hover:cursor-default hover:bg-inherit"
>
  <label for="my-drawer" class="drawer-overlay bg-base-200/5"></label>
  <div
    class="menu flex w-[20rem] lg:bg-transparent cursor-default flex-col flex-nowrap overflow-y-auto bg-base-100 p-2 text-gray-800 lg:my-4 lg:w-20"
  >
    <!-- Hero Image -->
    <div class="flex w-fit">
      <a rel="prefetch" class="lg:hidden" href="/">
        <div
          class="avatar m-auto mb-6 mt-3 block h-36 w-1/2 transition ease-in-out hover:scale-[102%]"
        >
          <div>
            <Image
              class="mask mask-circle"
              format="webp"
              width={300}
              height={300}
              src="/profile.png"
              alt="Profile image"
            />
          </div>
        </div>
      </a>
    </div>

    <!-- Sidebar content here -->

    <!-- Pages -->
    <div
      class="flex md:items-center md:justify-center shrink grow gap-1 flex-col lg:gap-2 text-gray-200"
    >
      <SideItem id="home" label="home" href="/">
        <lord-icon
          colors="primary:#d4d4d4"
          src="/icons/system-solid-41-home.json"
          trigger="hover"
        >
        </lord-icon>
      </SideItem>

      <SideItem id="projects" label="Proyectos" href="/projects">
        <lord-icon
          colors="primary:#d4d4d4"
          src="/icons/system-solid-34-code.json"
          trigger="hover"
        >
        </lord-icon>
      </SideItem>

      <SideItem id="blog" label="Proyectos" href="/blog">
        <lord-icon
          colors="primary:#d4d4d4"
          src="/icons/system-solid-14-article.json"
          trigger="hover"
        >
        </lord-icon>
      </SideItem>

      <div class="hidden">
        <a
          rel="prefetch"
          class="flex gap-2 md:justify-center rounded-2xl py-2 px-1 transition-all fill-neutral-300 hover:bg-neutral lg:rounded-xl lg:hover:scale-105"
          id="cv"
          href="/cv"
        >
          <svg
            xmlns="http://www.w3.org/2000/svg"
            class="icon icon-tabler icon-tabler-home-2 lg:mx-auto"
            width="24"
            height="24"
            viewBox="0 0 24 24"
            stroke-width="2"
            stroke="currentColor"
            fill="none"
            stroke-linecap="round"
            stroke-linejoin="round"
          >
            <path stroke="none" d="M0 0h24v24H0z" fill="none"></path>
            <path d="M8 7a4 4 0 1 0 8 0a4 4 0 0 0 -8 0"></path>
            <path d="M6 21v-2a4 4 0 0 1 4 -4h4a4 4 0 0 1 4 4v2"></path>
          </svg>
          <p class="lg:hidden">CV</p>
        </a>
      </div>

      <SideItem id="support" label="Apóyame" href="/support">
        <lord-icon
          colors="primary:#d4d4d4"
          src="/icons/system-solid-68-savings.json"
          trigger="hover"
        >
        </lord-icon>
      </SideItem>

      <SideItem
        id="contact"
        label="Contacto"
        href="mailto:yossthedev@gmail.com"
      >
        <lord-icon
          colors="primary:#d4d4d4"
          src="/icons/system-solid-59-email.json"
          trigger="hover"
        >
        </lord-icon>
      </SideItem>
    </div>

    <!-- Separator -->
    <div class="mx-auto my-3 h-1 w-1 rounded-full bg-gray-600/10 p-1"></div>

    <!-- Social Networks -->
    <div
      class="social-icons my-2 items-center flex gap-2 self-center px-2 lg:flex-col lg:gap-3 lg:px-0"
    >
      <!-- Telegram  -->
      <a
        href="https:/t.me/yossthedev"
        target="_blank"
        class="mx-3 lg:mx-auto hover:text-white h-8 w-8 hover:bg-[#269FDA] rounded-full p-2 hover:scale-105 transition-all"
        aria-label="Telegram"
        title="Telegram"
      >
        <svg
          xmlns="http://www.w3.org/2000/svg"
          fill="currentColor"
          viewBox="0 0 256 256"
          ><path
            d="M236.88,26.19a9,9,0,0,0-9.16-1.57L25.06,103.93a14.22,14.22,0,0,0,2.43,27.21L80,141.45V200a15.92,15.92,0,0,0,10,14.83,15.91,15.91,0,0,0,17.51-3.73l25.32-26.26L173,220a15.88,15.88,0,0,0,10.51,4,16.3,16.3,0,0,0,5-.79,15.85,15.85,0,0,0,10.67-11.63L239.77,35A9,9,0,0,0,236.88,26.19ZM183.53,208,100.85,135.5l119-85.29Z"
          ></path></svg
        >
      </a>

      <!-- Github  -->
      <a
        href="https://github.com/yossthedev"
        target="_blank"
        class="mx-3 lg:mx-auto hover:text-white hover:bg-[#222222] rounded-full p-2 hover:scale-105 transition-all"
        aria-label="Github"
        title="Github"
      >
        <svg
          xmlns="http://www.w3.org/2000/svg"
          width="18"
          height="18"
          viewBox="0 0 24 24"
          fill="currentColor"
          class="icon icon-tabler icons-tabler-filled icon-tabler-brand-github"
          ><path stroke="none" d="M0 0h24v24H0z" fill="none"></path><path
            d="M5.315 2.1c.791 -.113 1.9 .145 3.333 .966l.272 .161l.16 .1l.397 -.083a13.3 13.3 0 0 1 4.59 -.08l.456 .08l.396 .083l.161 -.1c1.385 -.84 2.487 -1.17 3.322 -1.148l.164 .008l.147 .017l.076 .014l.05 .011l.144 .047a1 1 0 0 1 .53 .514a5.2 5.2 0 0 1 .397 2.91l-.047 .267l-.046 .196l.123 .163c.574 .795 .93 1.728 1.03 2.707l.023 .295l.007 .272c0 3.855 -1.659 5.883 -4.644 6.68l-.245 .061l-.132 .029l.014 .161l.008 .157l.004 .365l-.002 .213l-.003 3.834a1 1 0 0 1 -.883 .993l-.117 .007h-6a1 1 0 0 1 -.993 -.883l-.007 -.117v-.734c-1.818 .26 -3.03 -.424 -4.11 -1.878l-.535 -.766c-.28 -.396 -.455 -.579 -.589 -.644l-.048 -.019a1 1 0 0 1 .564 -1.918c.642 .188 1.074 .568 1.57 1.239l.538 .769c.76 1.079 1.36 1.459 2.609 1.191l.001 -.678l-.018 -.168a5.03 5.03 0 0 1 -.021 -.824l.017 -.185l.019 -.12l-.108 -.024c-2.976 -.71 -4.703 -2.573 -4.875 -6.139l-.01 -.31l-.004 -.292a5.6 5.6 0 0 1 .908 -3.051l.152 -.222l.122 -.163l-.045 -.196a5.2 5.2 0 0 1 .145 -2.642l.1 -.282l.106 -.253a1 1 0 0 1 .529 -.514l.144 -.047l.154 -.03z"
          ></path></svg
        >
      </a>

      <!-- Twitter  -->
      <a
        href="https://twitter.com/yossthedev"
        target="_blank"
        class="mx-3 lg:mx-auto hover:text-white hover:bg-[#1b1b1b] rounded-full p-2 hover:scale-105 transition-all"
        aria-label="Twitter"
        title="Twitter"
      >
        <svg
          xmlns="http://www.w3.org/2000/svg"
          width="18"
          height="18"
          viewBox="0 0 24 24"
          fill="currentColor"
          class="icon icon-tabler icons-tabler-filled icon-tabler-brand-x"
          ><path stroke="none" d="M0 0h24v24H0z" fill="none"></path><path
            d="M8.267 3a1 1 0 0 1 .73 .317l.076 .092l4.274 5.828l5.946 -5.944a1 1 0 0 1 1.497 1.32l-.083 .094l-6.163 6.162l6.262 8.54a1 1 0 0 1 -.697 1.585l-.109 .006h-4.267a1 1 0 0 1 -.73 -.317l-.076 -.092l-4.276 -5.829l-5.944 5.945a1 1 0 0 1 -1.497 -1.32l.083 -.094l6.161 -6.163l-6.26 -8.539a1 1 0 0 1 .697 -1.585l.109 -.006h4.267z"
          ></path></svg
        >
      </a>

      <!-- RSS Feed  -->
      <a
        href="/rss.xml"
        target="_blank"
        class="hover:text-white hover:bg-[#fd8751] rounded-full p-2 hover:scale-105 transition-all"
        aria-label="RSS Feed"
        title="RSS Feed"
      >
        <svg
          xmlns="http://www.w3.org/2000/svg"
          class="icon icon-tabler icon-tabler-rss"
          width="18"
          height="18"
          viewBox="0 0 24 24"
          stroke-width="2"
          stroke="currentColor"
          fill="none"
          stroke-linecap="round"
          stroke-linejoin="round"
        >
          <path stroke="none" d="M0 0h24v24H0z" fill="none"></path>
          <path d="M5 19m-1 0a1 1 0 1 0 2 0a1 1 0 1 0 -2 0"></path>
          <path d="M4 4a16 16 0 0 1 16 16"></path>
          <path d="M4 11a9 9 0 0 1 9 9"></path>
        </svg>
      </a>
    </div>
  </div>
</div>

<script>
  document.addEventListener("astro:page-load", () => {
    const homeLink = document.getElementById("home");
    const projectsLink = document.getElementById("projects");
    const servicesLink = document.getElementById("services");
    const storeLink = document.getElementById("store");
    const blogLink = document.getElementById("blog");
    const cvLink = document.getElementById("cv");
    const supportLink = document.getElementById("support");

    var isHome = true;

    const pages = [
      projectsLink,
      servicesLink,
      storeLink,
      blogLink,
      cvLink,
      supportLink,
    ];

    // This only runs once.
    const activeClass = "bg-base-200"; // For primary color replace with `active` class
    const url = window.location.href;

    console.log(url);
    console.log("load");

    pages.forEach((elem) => {
      if (elem?.id && url.includes(elem.id)) {
        console.log(elem.id);
        isHome = false;
        elem?.classList.add(activeClass);
      }
    });
    if (isHome) {
      homeLink?.classList.add(activeClass);
    }
  });
</script>
